:root{
  --primary:#03A9F4;
  --primary_dark:#7B1FA2;
  --primary_light:#E1BEE7;
  --accent:#00BCD4;
  --primary_text:#212121;
  --secondary_text:#757575;
  --icons:#FFFFFF;
  --divider:#BDBDBD;

}

nav{
  grid-area: nv;
  /*background: var(--primary);*/
  align-self: center;
  color: #fff;
}
.gradient{
  background: rgba(8,140,176,1);
  background: -moz-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,140,176,1)), color-stop(46%, rgba(26,109,177,1)), color-stop(100%, rgba(48,65,177,1)));
  background: -webkit-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: linear-gradient(135deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#088cb0', endColorstr='#3041b1', GradientType=1 );
}
header{
  grid-area: hd;
}
main{
  grid-area: mn;
  padding: 20px;
}
.card {
    max-width: 345px;
    padding-bottom:10px;
}
.card_button_container{
  justify-content: center;
}
.title_postulados{
  grid-column: 3;
  grid-row: 1;
}
#post1{
  grid-column:2;
  grid-row:2;
}

#post2{
  grid-column:3;
  grid-row:2;
}
#post3{
  grid-column:4;
  grid-row:2;
}
#post4{
  grid-column:2;
  grid-row:3;
}
#post5{
  grid-column:3;
  grid-row:3;
}
#home_content{
  text-align: center;
  display: grid;
  grid-template-columns: 8% 28% 28% 28% 8%;
  grid-gap: 10px;
  grid-auto-rows: min-content;

}

footer{
  grid-area: ft;
  width: 100%;
  background: #fff;
  color: #232323;

  borderTop: "1px solid #E7E7E7";
  text-align: "right";
  /*position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;*/
}

.s{
  display: 'block';
  padding: '20px';
  height: '60px';
  width: '100%';
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 20px;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
      "nv nv nv nv nv nv nv nv nv"
      "mn mn mn mn mn mn mn mn mn"
      "ft ft ft ft ft ft ft ft ft";


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
