:root{
  --primary:#9C27B0;
  --primary_dark:#7B1FA2;
  --primary_light:#E1BEE7;
  --accent:#00BCD4;
  --primary_text:#212121;
  --secondary_text:#757575;
  --icons:#FFFFFF;
  --divider:#BDBDBD;

}

nav{
  grid-area: nv;
  background: var(--primary);
  align-self: center;

}


header{
  grid-area: hd;
}
main{
  grid-area: mn;
  padding: 20px;
}
footer{
  grid-area: ft;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 20px;
  grid-auto-rows: min-content;
  grid-template-areas:
      "nv nv nv nv nv nv nv nv nv"
      "mn mn mn mn mn mn mn mn mn"
      "ft ft ft ft ft ft ft ft ft";


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
