@font-face {
  font-family: "Roboto", sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}
:root{
  --primary:#03A9F4;
  --primary_dark:#7B1FA2;
  --primary_light:#E1BEE7;
  --accent:#00BCD4;
  --primary_text:#212121;
  --secondary_text:#757575;
  --icons:#FFFFFF;
  --divider:#BDBDBD;

}
*{
  box-sizing: border-box;
}
body{
  font-family: "Roboto";
}
nav{
  grid-area: nv;
  align-self: center;
  color: #fff;
}
.gradient{
  background: rgba(8,140,176,1);
  background: -moz-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,140,176,1)), color-stop(46%, rgba(26,109,177,1)), color-stop(100%, rgba(48,65,177,1)));
  background: -webkit-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  background: linear-gradient(135deg, rgba(8,140,176,1) 0%, rgba(26,109,177,1) 46%, rgba(48,65,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#088cb0', endColorstr='#3041b1', GradientType=1 );
}
header{
  grid-area: hd;
}
main{
  grid-area: mn;
  padding: 20px;
}
.card {
    max-width: 345px;
    padding-bottom:10px;
}

#login_card, #register_card{
  grid-column:3;
  grid-row:1;
  align-self: center;
}

.login_register_container{
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-auto-rows: min-content;
}

.card_button_container{
  justify-content: center;
  margin-bottom: 1rem;
}
.title_postulados{
  grid-column: 3;
  grid-row: 1;
}
#post1{
  grid-column:2;
  grid-row:2;
}

#post2{
  grid-column:3;
  grid-row:2;
}
#post3{
  grid-column:4;
  grid-row:2;
}
#post4{
  grid-column:2;
  grid-row:3;
}
#post5{
  grid-column:3;
  grid-row:3;
}
#home_content{
  text-align: center;
  display: grid;
  grid-template-columns: 8% 28% 28% 28% 8%;
  grid-gap: 10px;
  grid-auto-rows: min-content;

}
#cont_banner{
  grid-column: 2/4;
  grid-row: 2;
  align-self: left;

}
.cont_txt{
  grid-column: 2/3;
  grid-row: 1;
}
.post_visualization{
  margin-bottom: 80px;
}
.
#post_v1{
  grid-column: 2;
  grid-row: 3;
}
#post_v2{
  grid-column: 2;
  grid-row: 4;
}
#post_v3{
  grid-column: 2;
  grid-row: 5;
}
#post_v4{
  grid-column: 2;
  grid-row: 6;
}
.select_filter{
  grid-column: 2;
  grid-area: flt;
}

.vote_container{
  padding: 10px;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:20% 60%  20%;
  grid-auto-rows: min-content;

}
.vote_info{
  text-align: left;
  list-style-type: none;
}
.vote_info li{
  display: inline-block;
}
select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
footer{
  grid-area: ft;
  width: 100%;
  background: #fff;
  color: #232323;

  borderTop: "1px solid #E7E7E7";
  text-align: "right";
  /*position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;*/
}


.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 20px;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
      "nv nv nv nv nv nv nv nv nv"
      "mn mn mn mn mn mn mn mn mn"
      "ft ft ft ft ft ft ft ft ft";

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
